/* CSS Document */
#tab_3-3 #accordion3-3 #accountp_change_password_validate #pass_div{
	position: relative;
}
#pass_div i{
	position: absolute;
	right: 290px;
	bottom: 20px;
}

ul, li {
    margin:0;
    padding:0;
    list-style-type:none;
}
#pswd_info {
    font-size:.875em;
}
#pass_div #pswd_info h4{
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
}
#pass_div #pswd_info::before {
    content: "\25B2";
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}
.invalid {
    background:url(assets/img/icons/icons/cross.png) no-repeat 0 50%;
    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
}
.valid {
    background:url(assets/img/icons/icons/tick.png) no-repeat 0 50%;
    padding-left:22px;
    line-height:24px;
    color:#3a7d34;
}
#pswd_info{
    display: none;
}
.error {
  color: #cc0033;
  font-weight: 500;
  font-size: 14px;
  padding-left: 0%;
 

}

