
body{
	margin: 0;
	padding: 0;
	background: url(assets/img/background_login.jpeg);
/*	font-family: sans-serif;
	background-repeat: no-repeat;
	background-size: cover;*/
}
.box #enter{
	position: absolute;
	top: 80px;
}
.logo2{
	position: absolute;
	top: 22%;
	left: 47%;
}
.box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	/*width: 350px;
	background: #fff;
	padding: 30px;
	height: 400px;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,.1);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);*/
	background-color: #fff;
    width: 291px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
}
.box input{
	padding: 5px 0;
	margin-bottom: 30px;
}
.box input{
	width: 100%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	border: none;
	border-bottom: 2px solid #999;
	
}
.box input[type="submit"]{
	border-bottom: none;
	cursor: pointer;
	background: #eb0727;
	margin-bottom: 0;
	text-transform: uppercase;
}
.box input[type="submit"]:hover{
	border-bottom: #1d943b;
}
.box form div{
	position: relative;
} 
.box form div label{
	position: absolute;
	top: 0;
	left: 0;
	color: #999;
	transition: .5s;
	pointer-events: none;
}
.box input:valid ~ label,.box input:focus ~ label{
	top: -18px;
	left: 0;
	color: #eb0727;
	font-weight: bold;
	font-size: 12px;
}
.box input:valid, .box input:focus{
	border-bottom: 2px solid #eb0727;
}
.create-account{
	padding-top: 20px;
}
.input_icon{
	position: relative;
}
.input_icon i{
	position: absolute;
	left: 270px;
	bottom: 35px;
}